
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="angular-validation.module.js"></script>
<script src="angular-validation.directives.js"></script>
<link rel="stylesheet" href="angular-validate.css">


<div ng-app="form-hint"  >
	{{ "hello world " + world }}
	<form name="myform"  novalidate>
		{{ myform.$dirty }}
		<div>
			<input id="hello" name="hello" type="text" ng-pattern="/^([a-zA-Z0-9_-]){3,5}$/" ng-model="val" hint="'length:3-5 '" required >
			<input id="hello2" name="hello2" type="text" ng-pattern="/^([a-zA-Z0-9_-]){3,5}$/" ng-model="val2" hint="'length:4-6 '" required >
			<input id="hello3" name="hello3" type="text" ng-pattern="/^([a-zA-Z0-9_-]){3,5}$/" ng-model="val3" hint="'length:5-7 '" required >
			<input id="submit" name="submit" type="submit" ng-click="form-hint.$valid && logerror()">
		</div>
	</form>

</div>